<div class="container pt-5">
  <div class="col">
    <h1 class="text-center" style="padding-bottom: 10px;">{{title}}</h1>
    <form class="form-group row">
      <div class="form-group col-md-3">
        <label for="fecha">Fecha:</label>
        <input type="date" name="fecha" class="form-control" id="fecha" placeholder="Fecha" [(ngModel)]="cuadroFecha">
      </div>
      <div class="form-group col-md-3">
        <label for="concepto">Concepto:</label>
        <input type="text" name="concepto" class="form-control" id="concepto" placeholder="Concepto"
          [(ngModel)]="cuadroConcepto">
      </div>
      <div class="form-group col-md-3">
        <label for="categoria">Categoría:</label>
        <select name="categoria" class="form-control" id="categoria" [(ngModel)]="cuadroCategoria">
          <option value="compras">Compras</option>
          <option value="ocio">Ocio</option>
          <option value="hogar">Hogar</option>
          <option value="transporte">Transporte</option>
          <option value="otros">Otros</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="importe">Importe</label>
        <input type="number" name="importe" class="form-control" id="importe" placeholder="Importe"
          [(ngModel)]="cuadroImporte">
      </div>
      <div class="container text-center">
        <button type="button" class="btn btn-primary" (click)="addExpense()"
          style="margin-top: 35px; width: 280px;">Agregar</button>
      </div>
    </form>
  </div>
</div>
